[package]
name = "stagehand-sdk"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
futures = "0.3"
reqwest = { version = "0.12", features = ["json", "stream"] }
tokio-stream = "0.1"
async-stream = "0.3"
tokio-util = { version = "0.7", features = ["codec", "io"] }
bytes = "1"
eventsource-client = "0.15.1"
futures-util = "0.3.31"
dotenvy = "0.15"
async-trait = "0.1.89"

[dev-dependencies]
chromiumoxide = { version = "0.7", features = ["tokio-runtime"], default-features = false }
tokio-test = "0.4"
